
::selection{
  color: pink;
  background: black;
}

p::first-line {
  color: orange;
}
p::first-letter {
  color: red;
  font-size: 50px;
}
h1::after {
  background: url(https://i.pinimg.com/originals/4b/3e/02/4b3e0279e016cc145240de10c8a06fb6.png);
  background-size: cover;
  width: 25px;
  height: 25px;
  display: inline-block;
  content: "";
  margin-left: 10px;
}
