/* Formatando Tag's */
body {
    text-align: center;

    background-color: grey;
}

h3 {
    color: green;
}
/* formatando uma classe */
.foto-principal {
    width: 200px;
}

/* Formatando um Id mais utilizado em operações com JS*/

#titulo_principal {
    color: rgb(207, 62, 62);
}