/* Documentação w3School */
body {
    background: #dfdfdf;
}

p{
    color: #222222;
}

.foto-principal{
    width:200px;
    border: 2px solid #FFFFFF; /* Shorthand*/
    border-radius: 55%;
    /* border-width: 5px;
    border-style: solid;
    border-color: black; */

}