/* Documentação w3School */
body {
    background: #dfdfdf;
    font-family: 'Raleway', sans-serif;
    color: #222222;
}

.container{
    width: 900px;
    margin: 0 auto;
}

/* Formatação do texto */
h1{
    margin-bottom: 0;
    letter-spacing: -1px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 35px;
}
h2{
    margin: 0 auto;
    font-style: italic;
    color: rgb(73, 73, 73);
    font-weight: 100;
    letter-spacing: -1px;
}

p{
    margin-top: 5px;
    line-height: 25px;
}

.footer{
    border-top: 2px solid #47474741;
    margin-bottom: 0;
}

/* Estilização foto: */
.foto-principal{
    width:200px;

    border: 2px solid #FFFFFF; /* Shorthand*/
    border-radius: 10px;
/* Se deixar somente um valor na tag "margin" ou "padding" esse valor se aplicará para todos os lados do conteúdo*/
    margin: 30px;
    box-shadow: 0px 0px 10px #959595;
    padding: 5px;
}

