.counter{
    font-size: 25px;
    align-items: center;
    margin-left: 30px
}

.buttons{
    margin-top: 2px;
    margin-left: 12.5px;
}

#increase{
    padding: 10px;
    font-size: 20px;
    font-style: bold;
}

#decrease{
    padding: 10px;
    font-size: 20px;
    font-style: bold;
}