/* Documentação w3School */
body {
    background: #dfdfdf;
    font-family:Arial, Helvetica, sans-serif;
    color: #222222;

}
/* Formatação do texto */
h1{
    margin-bottom: 0;
    letter-spacing: -1px;

}
h2{
    margin: 0;
    font-style: italic;
    color: rgb(73, 73, 73);
    font-weight: 100;
    letter-spacing: -1px;
}

p{
    margin-top: 5px;
}

.footer{
    border-top: 2px solid #47474741;
    margin-bottom: 0;
}

/* Estilização foto: */
.foto-principal{
    width:200px;

    border: 2px solid #FFFFFF; /* Shorthand*/
    border-radius: 0% 50% 0% 50%;
/* Se deixar somente um valor na tag "margin" ou "padding" esse valor se aplicará para todos os lados do conteúdo*/
    margin: 30px;
    box-shadow: 0px 0px 10px #959595;
    padding: 5px;
}

